<center style="margin-top: 100px;">
    <% if(addPage){ %>
        <h1>Add Customer Details</h1>
        <br>
        <div class="container text-center">
            <form action="/users/addCustomer" method="POST">
                <%- include('_form'); %>
            </form>
        </div>
        <% }else{ %>
            <h1>Update Customer Details</h1>
            <br>
            <div class="container text-center">
                <form action="/users/modifyCustomer/<%=id%>" method="POST">
                    <%- include('_form'); %>
                </form>
            </div>
            <% } %>
</center>