<link rel="stylesheet" href="/css/login.css">
<div id="details">
    <div id="demo-div">
        <h1>Demo Accounts</h1>
        <p><b>Email:</b> test@sunbasedata.com <br><b>Pass:</b> Test@123</p>
    </div>
    <div id="inner-div">
        <h1>Login In</h1><br>
        <form action="/users/create-session" method="POST">
            <input type="email" name="email" placeholder="Your Email" required><br><br><br>
            <input type="password" name="password" placeholder="Password" required><br><br><br>
            <button type="submit">Login</button><br><br>
        </form>
    </div>
</div>