#action {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

button {
    border: 0px;
    color: black;
    background-color: inherit;
}

button i:hover {
    transform: scale(1.5);
    color: red;
}

#addCustomer {
    border-radius: 5px;
    background-color: darkorchid;
    border: 1px solid red;
    color: white;
}